<link rel="stylesheet" href="/css/comments.css">


        
<li class="comment-list-element">  

    <div class="the-comment">
        
        <div class="commentor-dp">
            <span class="material-icons-outlined">
                face
                </span>
        </div>

        <div class="comment-content">
            <div class="commentor-name">
                <%= comment.user.name %>
            </div>

            <div class="comment-content">
                <%= comment.content %>
            </div>
        </div>
        

    </div>
    

    <!-- delete button only visible to the creater of the comment and the creater of post -->
    <div class="delete-button-container">
        <% if ((locals.user) && ((locals.user.id == comment.user.id) || ( locals.user.id == post.user.id))) { %>
            
            <a href="/comments/destroy/<%= comment.id %>">
                <span class="material-icons-outlined ">
                    delete
                </span>
            </a>
            
        <%}%>  
    </div>

  
    
    
</li>
   
    