<footer>
    <!-- page links -->
    <div id="page-links">
        <a href="/">Home</a>
        <a href="/users/profile">My Profile</a>
    </div>

    <div id="rights">
        &#169 Coding Ninjas. All Rights Reserved
    </div>
</footer>