<footer>
    <!-- page links -->
    <div id="page-links">
        <a href="/">Home</a>
        <% if (locals.user){ %>
            <a href="/users/profile/<%= user.id %>">My Profile</a>
        <%}%>
        
    </div>

    <div id="rights">
        &#169 Coding Ninjas. All Rights Reserved
    </div>
</footer>