<!-- styling for home page -->
<link rel="stylesheet" href="/css/home.css">

<!-- this section is row flex , might contain 3 sub-sections later[ links on left , posts in center , friendlist on right] -->
<section class="content-container">

    <!-- this section1 contains all the links -->
    <%- include('./_links.ejs') %>

    <!-- this section2 contains all the posts and create post facility -->
    <section id="feed-posts">
        
        <!-- CREATE post div -->
        <!-- visible only if logged in -->
        <% if (locals.user) { %>
        
            <div id="create-post" class="post-container">
                <!-- form for input and submit post -->
                <form action="/posts/create" id="new-post-form" method="POST">
                    <textarea name="content" id="new-post-form-textarea"  rows="2" placeholder="What's on your mind, <%= user.name %>?" required></textarea>
                    <input type="submit" value="POST">
                </form>
            </div>
        <%}%>  

        <!-- watch posts -->
        <div id="posts-list-container">
            <ul id="unordered-list-container">
                <% for( post of posts){ %>

                    <%- include('./_post.ejs') %>
                   
                <%}%>
            </ul>
        </div>

    </section>

    <!-- this section3 contains all of the users in list -->
    <%- include('./_friends') %>

</section>

<script src="/js/home_posts.js"></script>