<link rel="stylesheet" href="/css/user_profile.css">

<!-- this section is row flex , might contain 3 sub-sections later[ links on left , PROFILE in center , friendlist on right] -->
<section class="content-container">
    <section id="profile-section">
        <h1> Codeial || Profile Page </h1>
    
        <p><%= profile_user.name %></p>
        <p><%= profile_user.email %></p>
    </section>

</section>