//variables
$footer-color: #14213d;
$footer-text-color : whitesmoke;
$footer-height: 100px;

footer{
    height: 15vh;
    background-color: $footer-color;
    color: $footer-text-color;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: $footer-height;
    position: relative;
    z-index: 100;
    border-top: 5px solid white;

    a{
        color: inherit;
        text-decoration: none;
    }

    #rights{
        padding-right: 2%;
        text-align: center;
    }

    #page-links{
        display: flex;
        flex-direction:column ;

    }
}