//for laptops L 1440px created orginally

/* for laptops 1024px or less width --------------------------------------------*/
@media only screen and (max-width: 1024px) {
    html {
      font-size: 14px;
    }

    body{

        #layout-main{

            //styling on unlogged homepage and sign-in/up
            .website-info{
                width: 420px;
                height: 400px;
                margin: 3%;

            }
            .sign-in-up-box{
                width: 350px ;
                height: 400px ;
                margin: 3%;
            }
            
            //logged in content styling
            .content-container{
                margin-top: -4% ;

                //homepage
                #feed-posts{
                    //section displaying posts
                    #posts-list-container{
                        ul{
                            li{
                                margin-bottom: 6%;
                                
                            }
                        }
                    }
                    
                }
            }
        }

    }
}
  
  /* If the screen size is TABLETS 768px or less,---------------------------*/
  @media only screen and (max-width: 768px) {
    html {
      font-size: 12px;
    }

    body{
        //styling on unlogged homepage and sign-in/up
        #layout-main{

            .website-info{
                height: 70vh;
                width: 80vw;
                margin: 5%;
            }
            .sign-in-up-box{
                height: 350px ;
                margin: 5%;
            }  

            //logged in styling
            .content-container{
                margin-top: -2.5% ;

                //homepage
                #feed-posts{

                    width: 100%;
                    padding: 0 10%;

                    #posts-list-container{  
                        #unordered-list-container{                           
                            li.post-item{  
                                margin-bottom: 8%;

                                .the-post{                                                                     
                                    .post-creator{                           
                                        .creator-details{                                            
                                            .creator-dp{
                                                min-width:20%;                                                
                                            }
                                        }
                                    }                                                              
                                }

                                .post-comments{
                                    max-height: 45vh;
                                    margin-top: 2%;
                                
                                }
                                                          
                            }                       
                        }
                    }
                    
                }

                //homepage links section
                #links{
                    display: none;
                }

                //homepage friend-list section
                #user-friends{
                    display: none;
                }
                
            }
        }
    }
  }

/* for large mobile screens or less ,----------------------------------*/
@media only screen and (max-width: 530px) {
    
    body{

        header{
            #logo{
                font-size: 1.5rem;
            }

            ul{
                li{
                    .right-options{
                        font-size: 1.5rem;
                    }
                }
            }

        }
        //styling on unlogged homepage and sign-in/up
        #layout-main{

            .website-info{
                display: none;
            }

            .sign-in-up-box{
                width: 350px;
                margin-top: 20%;
            }

            //logged in content-styling
            .content-container{
                margin-top:0%;

                //global post style
                // .post-container{
                    
                // }

                //homepage
                #feed-posts{
                    padding: 0%;

                    //create post div
                    #create-post{
                        margin-top: 8%;

                        #new-post-form{
                            width: 97%;
                        }
                    }

                    //posts - list viewer
                    #posts-list-container{  
                        #unordered-list-container{                       
                            li.post-item{     
                                .post-comments{
                                    width: 95%;

                                    .comment-maker{  
                                        margin-bottom: 10%;                        
                                        .creator-dp{ 

                                            width: 10%;
                                            justify-content: flex-start;

                                            .material-icons-outlined{
                                                font-size: 2.5rem;
                                            }
                                        }
                                        form{
                                            width: 85%;
                            
                                            input{
                                                padding-left: 3%;
                                            }
                                        }
                                    }

                                    //container for ul of li ---comments
                                    .post-comments-list{

                                        .comments-ul{
                                            .comment-list-element{
                                                .the-comment{
                                                    width: 80%;

                                                    .commentor-dp{
                                                
                                                        .material-icons-outlined{
                                                            font-size: 2.5rem;
                                                        }
                                                    }

                                                    .comment-content{
                                                        width: 90%;
                                                        padding: 2%;
                                                        margin-left: 2%;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                
                            }                       
                        }
                    }




                }



                //profile page
                #profile-section{
                    width: 100%;
                }

            }
        }
    }
    
}
