//variables
$website-info-font-size:3rem;

$website-info-width: 500px;
$website-info-height: 450px;


$box-color: #e5e5e5;
$sign-button-color: #14213d;
$box-width:400px;
$box-height: 450px;
$input-font-size:1rem;
$submit-font-size:1.5rem;


//to be made
.website-info{
 
    height: $website-info-height;
    width: $website-info-width;
    
    margin:1%;
    
    border: white 5px solid;
    color: black;
    font-size: $website-info-font-size;

    display: flex;
    justify-content: center;
    align-items: center;
}

//the whole container  
.sign-in-up-box{
    
    width: $box-width;
    height: $box-height;
    border-radius: 5%;
    background-color: $box-color;
    box-shadow: #a86d0d 0px 0px 8px 5px;
    margin: 1%;
  

    
    //form can be sign up or sign 
    form{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all .5s linear;

        //all input elements
        input{
            width: 90%;
            height: 12%;
            margin: 1% 0%;
            border: none;
            font-size: $input-font-size;
            padding-left: 2%;

        }
        //giving shadow effect on hover
        input:hover{
            cursor: pointer;
            box-shadow: grey 1px 1px 4px 2px;
            transition: all .2s linear;
        }
        //when inputting
        input:focus{
            outline: none;
            box-shadow: grey 1px 1px 4px 2px;
        }
        //last child is submit button
        :last-child{
            background-color: $sign-button-color;
            color: white;
            font-size: $submit-font-size;
            border: none;
            border-radius: 10px;
            margin-top: 20%;
        }

        :last-child:hover{
            background-color: navy;
            cursor: pointer;
            box-shadow: grey 1px 1px 4px 2px;
            transition: all .9s linear;
        }
    }
}