html {
  font-size: 16px; }

a, p {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  overflow-x: hidden;
  position: relative; }
  body #flash-message {
    position: fixed;
    background-color: blue;
    z-index: 105;
    left: 0; }
  body #layout-main {
    min-height: 100%;
    width: 100%;
    padding-top: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    z-index: 50;
    background-color: #fca311; }
    body #layout-main .content-container {
      width: 100vw;
      min-height: 100vh;
      margin-top: -6%;
      display: flex;
      flex-direction: row;
      justify-content: center; }
