/* for laptops 1024px or less width --------------------------------------------*/
@media only screen and (max-width: 1024px) {
  html {
    font-size: 14px; }
  body #layout-main .website-info {
    width: 420px;
    height: 400px;
    margin: 3%; }
  body #layout-main .sign-in-up-box {
    width: 350px;
    height: 400px;
    margin: 3%; }
  body #layout-main .content-container {
    margin-top: -4%; }
    body #layout-main .content-container #feed-posts #posts-list-container ul li {
      margin-bottom: 6%; } }

/* If the screen size is TABLETS 768px or less,---------------------------*/
@media only screen and (max-width: 768px) {
  html {
    font-size: 12px; }
  body #layout-main .website-info {
    height: 70vh;
    width: 80vw;
    margin: 5%; }
  body #layout-main .sign-in-up-box {
    height: 350px;
    margin: 5%; }
  body #layout-main .content-container {
    margin-top: -2.5%; }
    body #layout-main .content-container #feed-posts #posts-list-container ul li {
      margin-bottom: 8%; }
    body #layout-main .content-container #feed-posts #posts-list-container ul.unordered-list-container li.post-item .the-post .post-creator .creator-details .creator-dp {
      min-width: 20%; } }

/* for large mobile screens or less ,----------------------------------*/
@media only screen and (max-width: 530px) {
  body header #logo {
    font-size: 1.5rem; }
  body header ul li .right-options {
    font-size: 1.5rem; }
  body #layout-main .website-info {
    display: none; }
  body #layout-main .sign-in-up-box {
    width: 350px;
    margin-top: 20%; }
  body #layout-main .content-container {
    margin-top: 0%; }
    body #layout-main .content-container #feed-posts {
      width: 100%; }
      body #layout-main .content-container #feed-posts #create-post {
        margin-top: 8%; }
        body #layout-main .content-container #feed-posts #create-post #new-post-form {
          width: 97%; }
    body #layout-main .content-container #links {
      display: none; }
    body #layout-main .content-container #user-friends {
      display: none; }
    body #layout-main .content-container #profile-section {
      width: 100%; } }
