/* Hide scrollbar for Chrome, Safari and Opera */
.post-comments::-webkit-scrollbar {
  display: none; }

/* Hide scrollbar for IE, Edge and Firefox */
.post-comments {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */ }

li.post-item {
  width: 100%;
  list-style: none;
  margin-bottom: 5%; }
  li.post-item .the-post {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid #5993a7;
    margin-top: 2%; }
    li.post-item .the-post .post-creator {
      width: 100%;
      background-color: #fca311;
      border-bottom: 3px solid #5993a7;
      border-top: 3px solid #5993a7;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      li.post-item .the-post .post-creator .creator-details {
        width: 70%;
        display: flex;
        flex-direction: row;
        align-items: center; }
        li.post-item .the-post .post-creator .creator-details .creator-dp {
          max-height: 50px;
          max-width: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          border-radius: 50%;
          border: 2px solid white;
          margin: 2%; }
          li.post-item .the-post .post-creator .creator-details .creator-dp img {
            width: 100%; }
        li.post-item .the-post .post-creator .creator-details .name-and-when {
          display: flex;
          flex-direction: column;
          min-width: 50%;
          font-size: 1.5rem; }
          li.post-item .the-post .post-creator .creator-details .name-and-when .post-when {
            font-size: 1rem;
            color: rgba(0, 0, 0, 0.788); }
      li.post-item .the-post .post-creator .delete-button-container {
        min-width: 8%;
        width: 8%; }
    li.post-item .the-post .post-content {
      width: 100%;
      min-height: 20vh;
      display: flex;
      flex-direction: row;
      justify-content: center; }
      li.post-item .the-post .post-content p {
        width: 90%;
        padding: 5%;
        background-color: white;
        font-size: 1.3rem; }
  li.post-item .post-reacts {
    width: 100%;
    background-color: #fca311;
    border-bottom: 3px solid #5993a7;
    padding: 1% 0%;
    margin-bottom: 2%;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    li.post-item .post-reacts .react-comment {
      width: 30%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
    li.post-item .post-reacts .react-comment:hover {
      cursor: pointer;
      border-left: 2px solid black;
      border-right: 2px solid black; }
  li.post-item .post-comments {
    width: 100%;
    max-height: 60vh;
    overflow-y: scroll; }
    li.post-item .post-comments .comment-maker {
      width: 100%;
      display: flex;
      flex-direction: row;
      margin-bottom: 5%; }
      li.post-item .post-comments .comment-maker .creator-dp {
        max-height: 40px;
        max-width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 50%;
        border: 2px solid white;
        margin: 1.5%; }
        li.post-item .post-comments .comment-maker .creator-dp img {
          width: 100%; }
      li.post-item .post-comments .comment-maker form {
        width: 85%; }
        li.post-item .post-comments .comment-maker form input {
          width: 100%;
          padding: 5% 2%;
          border-radius: 15px;
          border: none; }
        li.post-item .post-comments .comment-maker form input:focus {
          outline: none; }
    li.post-item .post-comments .post-comments-list {
      width: 100%; }
      li.post-item .post-comments .post-comments-list .comments-ul {
        width: 100%;
        list-style: none;
        padding-left: 0; }
  li.post-item .hidden-comments {
    display: none;
    background-color: cadetblue; }
