#profile-section {
  height: 80%;
  width: 60%;
  background-color: white;
  padding-top: 20%;
  text-align: center;
  transition: all 1s ease-in-out; }
  #profile-section div {
    transition: all 2s ease-in-out; }
